@page "/"

<h1 id="todoheader">Todos</h1>
<ul aria-describedby="todoheader">
    @foreach (var todo in Todos)
    {
        <li>
            @todo
        </li>
    }
</ul>
<form @onsubmit="SubmitTodo">
    <label>
        <input placeholder="Todo name" @bind="TodoInput" />
    </label>
    <button>Submit</button>
</form>
